@font-face {
    font-family: Punk;
    src: url(./fonts/Hit\ me\,\ punk!\ 01.ttf);
}
@font-face {
    font-family: Rellion;
    src: url(./fonts/Rellion.otf);
}
root,
body {
    --main-red: #ad0c25;
    --main-grey: #1d1d1d;
    --dark-grey: #303030;
    --light-grey: #f2f2f2;
    --title-font: Punk, Arial, sans-serif;
    --main-font: Rellion, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-grey);
    font-family: var(--main-font);
    color: var(--light-grey);
    font-size: 1.2rem;
}

.header {
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
.logo {
    max-width: 100px;
    max-height: 100px;
}
.mainTitle {
    font-size: 4rem;
    font-family: var(--title-font);
    color: var(--main-red);
}

#addBookBtn {
    border: none;
    color: var(--main-red);
    font-size: 1.2rem;
    font-family: var(--main-font);
    background-color: var(--main-grey);
    outline: 1px dashed var(--main-red);
    box-shadow: none;
    transition: all 100ms ease-in-out;
    &:active {
        scale: 0.97;
    }
    &:hover {
        background-color: var(--dark-grey);
        color: var(--light-grey);
        cursor: pointer;
    }
}

.fa-plus {
    font-size: 2rem;
    color: var(--main-red);
}

#booksContainer {
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 0;
    flex-wrap: wrap;
}

.bookCards,
.cardsStyle {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey);
    padding: 1rem 2rem;
    margin: 1rem;
    border: 5px solid black;
    border-top-color: var(--main-red);
    border-left-color: var(--main-red);
}

.bookInfos {
    margin: 0.5rem;
}
.closeCards {
    align-self: end;
    &:hover {
        color: var(--main-red);
        cursor: pointer;
    }
}

#dialogBox {
    background-color: var(--main-grey);
    border: 3px solid var(--main-red);
    min-width: 25%;
    font-size: 1.2rem;
    backdrop-filter: blur(8px);
    &::backdrop {
        backdrop-filter: blur(8px);
    }
}
#dialogContainer {
    width: 100%;
    height: 100%;
}
#dialogContent {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    color: var(--light-grey);
}

#dialogContent h2 {
    margin: 0;
    padding: 0;
}
#dialogCloseBtnContainer {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: end;
}
#closeModalBtn {
    background-color: var(--main-grey);
    color: var(--light-grey);
    border: none;
    font-size: 1.5rem;
    align-self: flex-end;
    &:hover {
        color: var(--main-red);
        cursor: pointer;
    }
}

#bookForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
}

#submitBookBtn {
    padding: 0.5rem 2rem;
    color: var(--light-grey);
    font-family: var(--main-font);
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--dark-grey);
    border: 1px solid var(--main-red);
    transition: all 100ms ease-in-out;
    &:hover {
        background-color: var(--main-grey);
        cursor: pointer;
    }
}
#bookForm input {
    padding: 0.2rem;
    font-family: var(--main-font);
    color: var(--light-grey);
    font-size: 1.2rem;
    padding-left: 0.5rem;
    background-color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
    &:focus {
        border: 1px solid var(--main-red);
        outline: 1px solid var(--main-red);
    }
}
#selectContainer {
    align-self: center;
}

#selectContainer select {
    color: var(--light-grey);
    background-color: var(--dark-grey);
    border: 1px solid var(--main-red);
    font-size: 1.2rem;
    font-family: var(--main-font);
    padding: 0.2rem;
    padding-left: 0.5rem;
}

.changeBtn {
    color: var(--light-grey);
    margin-left: 0.5rem;
    font-size: 1rem;
    background-color: var(--dark-grey);
    border: 1px solid var(--main-red);
    transition: all 100ms ease-in-out;
    font-family: var(--main-font);
    &:hover {
        background-color: var(--main-grey);
        cursor: pointer;
    }
    &:active {
        scale: 0.97;
    }
}
